@model CodeNameSynic.Models.UserAndEventsModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome @Model.User.FirstName @Model.User.LastName!</h2>

<!-- Search for an event -->
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" id="eventSearch" />
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>
    @* dropdown goes here for list of categories *@
</div>
<div>
    @Html.TextBox("Search")
    @Html.DropDownList("Categories")
</div>

<!-- Recommended Feed -->
<div class="jumbotron">
    <h3> Recommended Events </h3>
    <div class="row">
        <center>
            <div class="col-md-4">
                @Html.ActionLink("Event 1", "", "", new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Event 2", "", "", new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Event 3", "", "", new { @class = "btn btn-default" })
            </div>
        </center>
    </div>
</div>

<br />

<!-- List of all Categories with links to their respective page -->
<center>
    <h3> Categories </h3>
</center>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Music", "Category", "Regular", "Music", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Gaming", "Category", "Regular", "Gaming", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Fitness", "Category", "Regular", "Fitness", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Food", "Category", "Regular", "Food", new { @class = "btn btn-default" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 1", "Category", "Regular", "Placeholder 1", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 2", "Category", "Regular", "Placeholder 2", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 3", "Category", "Regular", "Placeholder 3", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 4", "Category", "Regular", "Placeholder 4", new { @class = "btn btn-default" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 5", "Category", "Regular", "Placeholder 5", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 6", "Category", "Regular", "Placeholder 6", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 7", "Category", "Regular", "Placeholder 7", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Placeholder 8", "Category", "Regular", "Placeholder 8", new { @class = "btn btn-default" })
    </div>
</div>