@model CodeNameSynic.Models.Category

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>

    <div>
        <h2> @Model.Title </h2>
        <h4> @Model.Description </h4>
    </div>
    <h2> @Model.Title </h2>
    <h4> @Model.Description </h4>
  
@if ((SelectList)ViewBag.EventList != null)
{
    // display table header data here

    foreach(var item in ViewBag.EventList)
    {
        // List all event details here
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Events)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                @Html.ActionLink("Events", "Details", new { id=item.EventsId}) |
                @Html.ActionLink("Category","Details", new {id=item.CategoryId}) |
            </td>
        </tr>
    }
}

    @* items being displayed can be put into this styling is wanted. *@
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
</center>

